* {
    box-sizing: border-box;
}

 /* Yuli Dwi Nur Aini Code (Header & Home) */
*{
margin:0px auto;
}

.header{
width:100%; 
z-index:1000; 
position:fixed;
height:120px; 
background:white;
}

.header ul {
    margin: 0; padding: 0;
    float: right;
    margin-top: 50px;

}

.header ul li {
    display: inline;
     padding:15px;
}

.header ul li a {
    float: right; text-decoration: none;
    color: black;
    padding: 10.5px 11px;
    background-color:  white;
    font-weight:bold;

}

.home{
	width: 100%;
	height: 575px;
	background: none;
	margin-top: 100px;
	background-color:none; 
}

.home1{
	width:200px;
	height:200px;
	background:none;
	display: inline-block;
	margin-left: 80px;
	margin-right: 10px;
	margin-top: 150px;

}

.home img{
	float:right; 
	margin:0 8px 4px 0;
	margin-right: 25px;
	display: inline-block;
}

.tulisan1{
	font-color: white;
	font-family: inherit;
	font-style: normal;
	text-align: center;
	font-size: 30pt;
}

.tulisan2{
	font-color: white;
	font-family: monospace;
	font-style: normal;
	text-align: center;
	font-size: 35pt;
}

.tulisan3{
	font-color: white;
	font-family: monospace;
	font-style: normal;
	text-align: center;
	font-size: 40pt;
}





 /* Karshell Saputra (Services) */





 /* Hari Purnomo Code (Clients) */
.container {
    background-color:#f7f7f7;
    padding: 0% 15%;
    padding-bottom: 50px;
}

.clients {
    text-align: center;
    font-family: sans-serif;
}

.clients-logo a {
    float: left;
    position: absolute;
    margin-right: 100px;
    
}
 /* Nuradi Code (Testimonial) */
.judul{
    font-size: 36px;
    text-align:center;
    font-weight: bold;
}

.testi {
    float: left;
    width: 500px;
    border: 1px solid #F7EDCA;
    margin: auto;
    background-color: #CACACA;
    border-radius: 5%;
    text-align:center;
    padding: 10px
}
.testi-icon {
    margin: auto;
}
.testi-icon p {
    top: 44%;
    width: 100%;
    color: black;
    margin: 20px
}
.testi-icon img{
    border-radius: 50%;
    
}
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color:  #black;
    margin: 20px;
}



 /* Iqbal ShahPutra Code (Footer) */
.footer {
    background-color: #cacaca;
    color: rgb(0, 0, 0);
    height: 320px;
    padding: 40px;
/*     position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-logo {
    float: left;
  }
  
  .footer-logo p {
    margin-left: 45px;
    margin-top: 5px;  
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Times New Roman';
  }

  .footer-list {
    float: left;
    padding: 5px 200px;
  }
  
  .footer-list li {
    padding-bottom: 30px;
    list-style: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
  }

  .socialicon {
    float: right;
    text-align: center;
    padding-right: 100px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
  }
